@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}


.stop-clock{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    border: 12px solid #b8e994;

}

.frame{
   display: flex;
    gap:3px;
}

.hrs,
.mins,
.secs,
.ms,
.colon
{
  width:50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.colon{
    width: 10px;
    height: 50px;
}


.buttons{
    margin-top: 25px;
}

.buttons button{
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  margin-left: 15px;
  
}

.start{
    background-color: #27ae60;
}

.stop{
    background-color: #1e3799;

}

.reset{
    background-color: #e74c3c;
  
}


.start-active,
.stop-active{
    pointer-events: none;
    opacity: 0.5;
}
