@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 460px;
}

h2{
    color: #38ada9;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.form-group{
    width: 100%;
    margin: 20px 10px;
}

.form-group input[type="text"]{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    margin-bottom: 15px;

}

.form-group input[type="number"]{
    width: 100px;
    height: 25px;
    outline: none;
    padding: 5px;
    margin-left: 10px;
    
}



.btn-copy{
    padding: 7px;
    background-color:#4184F1;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 600;
}

.btn-copy:active{
    background-color:white;
    color: #4184F1;
}

.pswd{
    padding: 6px;
    border-radius: 5px;
    background-color:#4834d4;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.pswd:active{
    background-color:white;
    color:#4834d4 ;
}