@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 660px;
    height: 660px;
    background-color: wheat;
    position: relative;
}

.tool {
    width: 350px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
}


.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}


.form-group label{
    color: black;
    margin-bottom: 20px;
    font-weight: 800;
}

.form-group label span{
    background-color: black;
    color: gold;
    margin-left: 25px;
    padding: 0px 15px;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 10px;
}

button{
    background-color: #27ae60;
    color: white;
    outline: none;
    border: none;
    padding: 5px 0px;
    border-radius: 3px;
    font-weight: 600;
}